<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://youowlmebot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b1840f8e-5b01-401b-b4e6-a9bc893f7b91/resourceGroups/YouOwlMeBotResourceGroup/providers/Microsoft.Web/sites/YouOwlMeBot</ResourceId>
    <UserName>$YouOwlMeBot</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://youowlmebot.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>